.first-screen {
  background: #fff;
  display: grid;
  position: relative;
  padding-top: 3rem;
  height: 80vh;
  min-height: 700px;

  &__left {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 55%;
    img {
      width: 100%;
      max-height: 100%;
    }
    .first-screen__notice {
      display: none;
    }
  }

  &__right {
    width: 100%;
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding-bottom: 30px;
    position: relative;
    z-index: 2;
    &__content {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }
    &__title {
      margin-bottom: 1rem;
    }
    &__name {
      width: 80%;
      min-width: 300px;
      margin-bottom: 7rem;
    }
    &__option {

      img {
        display: inline-block;
        width: 50%;
      }
    }
    &__offer {
      display: flex;
      align-items: center;
      margin-top: 20px;
      img {
        width: 5rem;
        min-width: 40px;
        margin-right: 10px;
      }
    }
  }
}
.first-screen__notice {
  color:rgba(0, 0, 0, 0.3);
  font-size: clamp(13px, 1.6rem, 16px);
  width: 45%;
}

// main-video
.main-video {
  padding: 10rem 0;
  .container {
    max-width: 1720px;
    text-align: center;
  }
  .h1 {
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1em;
  }
}

.label {
  display: inline-block;
  color: #82c1ed;
  border: 2px solid currentColor;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px 7px;
  line-height: 1;
  margin-bottom: 1em;
}

.video-container {
  --height: 640px;
  max-height: var(--height);
  height: 100%;
  video {
    width: 100%;
    height: var(--height);
    object-fit: cover;
  }
}

// technical-data
.technical-data {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1720px;
  }
  &__right {
    &__img {
      height: 100%;
      line-height: 0;
      position: relative;
      img {
        max-width: none;
        object-position: 100% 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
      }
    }
  }

  &__left {
    padding-left: 8vw;
    padding-bottom: 10rem;
    &__title {
      margin-bottom: 0.7em;
    }
    &__description {
      font-size: 2rem;
      margin-bottom: 5em;
    }
    &__options {
      li {
        position: relative;
        padding-bottom: 1.7em;
        margin-bottom: 2em;
        &::before {
          content: "";
          width: 70px;
          height: 1px;
          background-color: currentColor;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          &::before {
            opacity: 0;
          }
        }
      }
      &__key {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 0.5em;
      }
      &__value {
        background: -webkit-linear-gradient(45deg, #afd6ee, #094777);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: clamp(24px, 5.5rem, 55px);
        line-height: 1;
      }
    }
  }
}

// colours
.colours {
  position: relative;
  --padding-top: 16rem;
  height: 100vh;
  overflow: hidden;
  color: #000;
  &.white {
    color: #fff;
  }
  &-slider {
    &__item {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: calc(- (var(--padding-top)));
        z-index: -1;
      }
      &.pink {
        &::before {
          background: linear-gradient(to right, #f9e5f4, #f8eff9);
        }
      }
      &.blue {
        &::before {
          background: linear-gradient(to right, #97d8f8, #b7e6fa);
        }
      }
      &.black {
        &::before {
          background: linear-gradient(to right, #21232e, #626f93);
        }
      }
      &__content {
        width: 100%;
        max-width: 1240px;
        padding: 0 20px;
        margin: 0 auto;
        color: currentColor;
        transition: color 0.5s;
      }

      &__img {
        padding-top: var(--padding-top);
        max-width: 56rem;
      }
    }

    &-name {
      margin-bottom: 0 !important;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      line-height: 1;
      margin-top: 10vmin;
      &__item {
        font-size: clamp(18px, 2.7rem, 27px);
      }
      .slick-dots {
        position: static;
        line-height: 0;
        width: fit-content;
        display: flex;
        align-items: center;
        margin-right: 2rem;
        li {
          width: auto;
          height: auto;
          &.slick-active {
            button {
              background-color: currentColor;
            }
          }
          button {
            padding: 0;
            width: 10px;
            height: 10px;
            color: currentColor;
            border: 1px solid currentColor;
            border-radius: 50%;
            resize: all 0.3s;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  &-descr {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    &__content {
      width: 390px;

      .h2 {
        margin-bottom: 0.5em;
      }
    }
  }
}

// camera
.camera {
  background-color: #222325;
  padding: 12rem 0 5rem;
  color: #fff;
  position: relative;
  overflow: hidden;
  .container {
    max-width: 1400px;
    position: relative;
    z-index: 1;
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 0;
    z-index: 0;
    display: block;
    img {
      transform: translateX(3%);
      @media (max-width: 1025px) {
        max-width: 80%;
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__top {
    margin-bottom: 10rem;
  }
  .container {
    .camera__img {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }
  }
  .h1 {
    line-height: 1;
    margin-bottom: 0.5em;
  }
  .label {
    margin-bottom: 2em;
  }

  &__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;

    &__item {
      &__list {
        li {
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
        span {
          display: block;
        }
        p {
          margin-top: 1em;
        }
      }
    }
  }
}

// photo-example
.photo-example {
  padding: 10rem 0;
  .container {
    max-width: 1440px;
  }
  &__top {
    max-width: 860px;
    margin-left: 5vw;
    margin-bottom: 10rem;
    .h2 {
      margin-bottom: 0.75em;
    }
  }
  &__img {
    text-align: center;
  }
}

// dynamic-frame
.dynamic-frame {
  background-color: #f2f2f2;
  padding: 12rem 0;
  --height: 640px;
  .container {
    max-width: 1040px;
  }

  &__top {
    width: 40%;
    margin-left: 3vw;
    .h2 {
      margin-bottom: 1em;
      font-size: clamp(22px, 5rem, 50px);
    }
    p {
      margin-bottom: 10vmin;
    }
  }
}
.dynamic-frame__content {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
  max-height: var(--height);

  &__left,
  &__right {
    height: 100%;
  }
  &__right {
    margin-top: -25vmin;
  }
  &__img {
    text-align: center;
    img {
      max-height: var(--height);
    }
  }

  &__video {
    height: 100%;
    .video-container {
    }
  }
}

// portrait
.portrait {
  padding: 14rem 0 20rem;
  background-color: #fff;
  .container {
    max-width: clamp(320px, 60vw, 1080px);
  }
  &__mode {
    margin-bottom: 10vmin;
  }
  &__mode__top,
  &__zoom__top {
    margin-bottom: 6rem;
    .h3 {
      margin-bottom: 0.75em;
      max-width: 390px;
    }
    p {
      max-width: 620px;
    }
  }
  &__zoom__top {
    .h3 {
      max-width: 500px;
    }
  }
  &__mode__content,
  &__zoom__content {
    img {
      max-height: 90vh;
      @media (min-width: 480px) {
        min-height: 400px;
      }
    }
  }
  &__zoom__content {
    @media (min-width: 1360px) {
      min-width: 1000px;
    }
  }
}

// pocket-mirror
.pocket-mirror {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__left {
    background-color: #f5f5f5;
    position: relative;
  }
  &__right {
    background: linear-gradient(to top, #f5dbec, #f9ebf4);
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    padding: 2rem;
  }

  &__descr {
    max-width: 550px;
    margin: 0 auto;
    .h2 {
      margin-bottom: 0.5em;
    }
  }

  &__video {
    position: relative;
    display: flex;
    align-items: flex-end;
    .video-container {
      position: absolute;
      max-height: unset;
      left: 18.6rem;
      top: -5.6rem;
      border-radius: 12px;
      --height: 67.2rem;
      overflow: hidden;
      height: var(--height);
      width: 30rem;
    }

    &__img {
      line-height: 0;
      img {
        margin-top: -7rem;
        max-height: 80vh;
        width: 56rem;
      }
    }
  }
}

// vlog
.vlog {
  padding: 10rem 0;
  background: linear-gradient(to top, #f9eff6, #ffffff);
  .container {
    max-width: 1240px;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  &__descr {
    padding: 0 3vw;
    .h2 {
      font-size: clamp(24px, 3.9rem, 40px);
      margin-bottom: 1.5em;
    }

    &__item {
      .h3 {
        margin-bottom: 0.75em;
      }
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }
  &__video {
    display: flex;
    justify-content: center;
    &__container {
      position: relative;
      &__img {
        width: 36rem;
        img {
          width: 100%;
          max-width: none;
        }
      }

      .video-container {
        position: absolute;
        left: 1.05rem;
        top: 1.5rem;
        --height: calc(100% - 4.1rem);
        width: 33.7rem;
        overflow: hidden;
        border-radius: 28px;
        video {
          --height: 100%;
        }
      }
    }
  }
}

// wide-camera
.wide-camera {
  padding: 14rem 0 20rem;
  position: relative;
  .container {
    max-width: 1240px;
    padding-left: calc(20px + 3vw);
  }
  &__top {
    margin-bottom: 25rem;
    .label {
      margin-bottom: 4rem;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 0;
    width: 55%;
    max-width: 800px;
    z-index: -1;
  }
  &__descr {
    padding-right: 2rem;
    & > p {
      margin-bottom: 10rem;
    }
    &__item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
      .icon {
        width: 4rem;
        margin-right: 2rem;
      }
      .h3 {
        font-size: clamp(14px, 2rem, 20px);
      }
      p {
        font-size: 12px;
        display: flex;
        margin-top: 0.2em;
        span {
          &:not(:last-child) {
            margin-right: 1em;
            padding-right: 1em;
            position: relative;
            &::before {
              content: "";
              width: 1px;
              height: 100%;
              background-color: currentColor;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
}

// main-camera
.main-camera {
  padding: 14rem 0;
  .container {
    max-width: calc(100% - 24rem);
  }
}
.rear-camera {
  margin-bottom: 10rem;
  &__top {
    max-width: 1100px;
    margin: 0 auto 7rem;
    width: 100%;
    .h2 {
      margin-bottom: 0.5em;
    }
    p {
      max-width: 940px;
    }
  }
}
.ultra-wide {
  margin-left: calc(-12rem - 20px);
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 10rem;

  &__descr {
    padding-left: 7vw;
    padding-top: 15vmin;
    .h3 {
      margin-bottom: 0.5em;
    }
    p {
      max-width: 190px;
    }
  }
}
.macro {
  display: grid;
  grid-template-columns: 45% 50%;
  justify-content: space-between;

  &__descr {
    padding-left: 7vw;
    padding-top: 15vmin;
    .h3 {
      margin-bottom: 0.5em;
    }
    p {
      max-width: 250px;
    }
  }
}

// capabilities
.capabilities {
  padding: 4rem 0 14rem;
  .container {
    max-width: 1240px;
  }
  &__top {
    margin-bottom: 7rem;
    .label {
      margin-bottom: 30px;
    }
  }
  &__img {
    background: url("../img/desctop/capabilities.jpg") center no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 400px;
    @media (max-width: 480px) {
      background: url("../img/mobile/capabilities.jpg") 0 0 no-repeat;
      background-size: cover;
      height: 440px;
    }
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      color: #fff;
      .h2 {
        width: 50%;
      }
    }
  }

  &__icons {
    margin-top: -10vmin;
  }
}
.slim {
  padding-top: 10rem;
  .container {
    max-width: 1440px;
  }
  &__phone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5rem;
    &__descr {
      padding-left: 4vw;
      &__item {
        .h2 {
          margin-bottom: 1em;
        }
        &:not(:last-child) {
          margin-bottom: 20rem;
        }
      }
    }
    &__img {
      position: relative;
      img {
        position: absolute;
        bottom: -5rem;
        left: 5vw;
        max-height: 800px;
      }
    }
  }
  &__chip {
    line-height: 0;
  }
}
.chip-data {
  background: linear-gradient(to top, #1b1b1b, #373737);
  padding: 20rem 0 10rem;
  color: #fff;
  margin-top: -12rem;
  .container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .h3 {
      margin-bottom: 1rem;
    }
  }
}

// steel
.steel {
  padding: 8rem 0 20rem;
  .container {
    max-width: 1400px;
  }
  &__top {
    max-width: 950px;
    margin: 0 auto 10rem;
    .h2 {
      margin-bottom: 0.75em;
    }
    p {
      span {
        padding-right: 0.5em;
      }
    }
  }
}

// specs
.specs {
  background-color: #f1f1f1;
  .container {
    max-width: 1340px;
  }
  &__content {
    display: flex;
    min-height: 33rem;
    justify-content: space-between;
    &__img {
      width: 56rem;
      position: relative;
      line-height: 0;
      img {
        position: absolute;
        height: 39rem;
        bottom: 0;
        left: 0;
      }
    }
    &__cta {
      display: flex;
      align-items: center;
    }
  }
}
.specs-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 0.75em 1.5em;
  font-size: 15px;
  border: 2px solid currentColor;
  border-radius: 5px;
  line-height: 1;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
  &::after {
    content: "\2192";
    transform: translateY(2px);
    font-size: 2rem;
  }
  span {
    display: inline-block;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid currentColor;
  }
}

// notes
.notes {
  color: #595959;
  padding: 10rem 0;
  .container {
    max-width: 1100px;
  }
}

// sensor
.sensor {
  background: linear-gradient(to right, #a2adc1, #d4d9e6);
  padding: 10rem 0;
  .container {
    max-width: 1300px;
  }
  &__img {
    max-width: 700px;
  }
}
.sensor__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .h2 {
    margin-bottom: 0.75em;
  }
  .h3 {
    margin-bottom: 1em;
  }
  p {
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}
.sensor__img {
  width: 45%;
}
.sensor__descr {
  width: 45%;
}

.free-repear {
  padding: 20rem 0 0;
  background: linear-gradient(to bottom, #f1f1f1 0%, #f3f3f3 100%);
  .container {
    max-width: 1640px;
  }
  &__top {
    margin-bottom: 10rem;
    .h2 {
      .icon {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        width: 1em;
        margin-right: 0.2em;
        img {
          width: 100%;
        }
      }
    }
    &__name {
      margin-bottom: clamp(30px, 2rem, 50px);
      img {
        max-width: 600px;
        width: 100%;
      }
    }
  }
  &__img {
    line-height: 0;
    text-align: center;
    position: relative;
    img {
      max-width: 940px;
    }
  }
}
.sale-period {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  bottom: 1em;
  line-height: 1;
}
