@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro-Semibold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

