:root{
	--main-font: 'MyriadPro', sans-serif;
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	color: #000;
	font-size: 1.6rem;
	line-height: 1.3;
	font-family: var(--main-font);
}
img{
	max-width: 100%;
}
a{
	color: currentColor;
	transition: all .2s;
}
h1, .h1{
	font-size: 7.8rem;
	font-size: clamp(30px, 7.8rem, 78px);
	line-height: 1;
}
h2, .h2{
	font-size: clamp(24px, 5rem, 60px);
	line-height: 1;
}
h3, .h3{
	font-size: clamp(20px, 2.7rem, 30px);
}
.text {
	font-size: clamp(16px, 2rem, 20px);
}
.font-500{
	font-weight: 500;
}
b, strong{
	font-weight: 700;
}
.font-900{
	font-weight: 900;
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}
.flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.align-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.font-300 {
	font-weight: 300;
}
.font-400 {
	font-weight: 400;
}
.font-600 {
	font-weight: 600;
}
.font-700 {
	font-weight: 700;
}
.for-mobile {
	display: none;
}

