@media(max-width: 1400px) {
    html {
        font-size: 0.7vw;
    }
    .vlog__video__container .video-container {
        border-radius: 15px;
    }
}
@media(max-width: 1300px) {
    .first-screen__left{
        width: 60%;
    }
    
}
@media(max-width: 1025px) {
    html {
        font-size: 0.8vw;
    }
    
    .technical-data__right__img img {
        height: 90%;
    }
    .portrait__mode__content img, .portrait__zoom__content img {
        min-height: auto;
    }
    .ultra-wide__descr,
    .macro__descr {
        padding-top: 5vmin;
    }
    .slim__phone__img img {
        left: 0;
    }
    .first-screen__left {
        width: 70%;
    }
    .first-screen__right__content {
        width: 36%;
    }
    .first-screen {
        min-height: 600px;
    }
}
// 1024
@media(max-width: 990px) {
    .first-screen {
        height: auto;
        &__left {
            display: block;
            .first-screen__notice {
                display: block;
                position: relative;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                line-height: 1.3;
                margin-top: 30px;
            }
        }
        &__right {
            .first-screen__notice{
                display: none;
            }
        }
    }
    .first-screen__right__content {
        display: block;
    }
    .first-screen__right__name {
        width: 100%;
        text-align: center;
        img {
            max-width: 300px;
        }
    }
    .first-screen__right__offer{
        text-align: left;
    }
    .colours {
        height: 600px;
        --padding-top: 280px;
    }
    .colours-wrapper {
        height: 100%;
    }
    .colours-descr {
        top: 0;
        transform: translate(-50%, 0);
        justify-content: center;
        text-align: center;
        padding-top: 50px;
    }
    .colours-slider__item__img {
        margin: 0 auto;
    }
    .colours-slider-name {
        text-align: left;
        transform: translateX(27%);
    }
    .colours-descr__content {
        width: 100%;
        max-width: 390px;
        padding: 0 20px;
    }
    .camera__content__item {
        max-width: 200px;
    }
    .free-repear__img{
        text-align: left;
        img {
            width: 100%;
            max-width: 728px;
        }
    }
    .free-repear {
        padding-bottom: 20px;
    }
    .sale-period {
        position: relative;
        right: auto;
        text-align: center;
        bottom: 0;
        margin-top: 2em;
    }
    .first-screen {
        flex-direction: column-reverse;
        display: flex;
        padding: 80px 0 30px;
        &__left {
            width: 100%;
            position: relative;
        }
        &__right {
            display: block;
            text-align: center;
            &__content {
                width: 100%;
            }
        }
    }
    .first-screen__right__offer {
        width: 100%;
        justify-content: center;
    }
}
// 990
@media(max-width: 767px) {
    html {
        font-size: 1.1vw;
    }
    .main-video {
        padding: 50px 0;
    }
    .main-video .h1 br{
        display: none;
    }
    .video-container {
        --height: 240px
    }
    .technical-data__right__img img {
        height: 55%;
    }
    .technical-data__left {
        padding-left: 0;
    }
    .technical-data__left__description,
    .technical-data__left__options__key {
        font-size: 14px;
    }
    .technical-data__left__options li::before {
        width: 35px;
    }
    .camera__img {
        position: relative;
        width: calc(100% + 40px);
        left: -20px;
        top: 0;
        margin-top: -50px;
        img {
            transform: translate(0, 0);
            width: 100%;
            max-width: none;
        }
    }
    .camera__top {
        margin-bottom: 0;
    }
    .camera__content {
        display: block;
        background-color: #000;
        width: calc(100% + 40px);
        position: relative;
        left: -20px;
        padding: 40px 30px 30px;
    }
    .camera__content__item {
        max-width: none;
        width: 100%;
    }
    .camera__content__item__list li{
        background-color: #222325;
        padding: 14px 25px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 40% 40%;
        align-items: flex-start;
        justify-content: space-between;
        p {
            margin-top: 0;
            font-size: 12px;
        }
        .h3{
            font-size: 16px;
        }
    }
    .camera__content__item__list li:not(:last-child) {
        margin-bottom: 10px;
    }
    .photo-example__top {
        margin-left: 0;
        text-align: center;
        .h2 {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .photo-example__img{
        margin: 0 auto;
        max-width: 480px;
        img {
            width: 100%;
            max-width: 420px;
        }
    }
    .specs-button {
        &::after {
            display: none;
        }
        span {
            margin-right: 0;
            padding-right: 0;
            border: none;
        }
    }
}
// 767
@media(max-width: 480px){
    .video-container {
        --height: 190px
    }
    .technical-data .container {
        display: block;
    }
    .technical-data__left__options {
        display: flex;
        flex-direction: column;
        li{
            margin-bottom: 15px;
            padding-bottom: 10px;
            &:last-child{
                order: -1;
                padding-bottom: 10px;
                margin-bottom: 15px;
                &::before {
                    opacity: 1;
                }
            }
            &:nth-child(2) {
                &::before {
                    opacity: 0;
                }
            }
        }
    }
    .technical-data__right__img img {
        height: 100%;
        position: relative;
    }
    .technical-data {
        position: relative;
        padding-bottom: 100px;
        &__left {
            position: relative;
            z-index: 2;
        }
        &__right {
            position: absolute;
            bottom: 0;
            right: 10px;
        }
    }
    .dynamic-frame__top {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .dynamic-frame__content {
        display: flex;
        flex-direction: column-reverse;
        --height: auto;
        max-height: none;
    }
    .dynamic-frame__content__right {
        margin-top: 0;
    }
    .dynamic-frame__content__left, .dynamic-frame__content__right {
        height: 408px;
        .video-container {
            height: 100%;
            --height: auto;
            video {
                height: 100%;
            }
        }
    }
    .dynamic-frame__content__right {
        margin-bottom: 40px;
        transform: translateX(20px);
    }
    .dynamic-frame__content__left {
        transform: translateX(-20px);
    }
    .dynamic-frame__content__img {
        text-align: left;
    }
    .pocket-mirror {
        display: flex;
        flex-direction: column-reverse;
        background: linear-gradient(to top, #f5dbec, #f9ebf4);
        padding: 50px 0 0;
        &__right,
        &__left {
            background: transparent;
        }
    }
    .pocket-mirror__video__img img {
        width: 300px;
        margin-top: 0;
    }
    .pocket-mirror__video .video-container {
        width: 160px;
        left: 100px;
        top: 25px;
        height: 342px;
        video {
            height: 342px;
        }
    }
    .pocket-mirror__right {
        padding: 0 20px;
    }
    .pocket-mirror__descr{
        text-align: center;
        margin-bottom: 50px;
    }
    .portrait .container {
        max-width: 100%;
    }
    .portrait__mode__content img,
    .portrait__zoom__content img {
        width: 100%;
    }
    .vlog {
        padding: 50px 0;
    }
    .vlog__content {
        display: block;
    }
    .vlog__descr {
        text-align: center;
        margin-bottom: 40px;
    }
    .vlog__video__container .video-container {
        width: 192px;
        left: 6px;
        top: 9px;
        --height: calc(100% - 23px)
    }
    .vlog__video__container__img {
        width: 205px;
    }
    .wide-camera__content {
        display: block;
    }
    .wide-camera__descr > p {
        text-align: center;
        margin-bottom: 30px;
    }
    .wide-camera__top {
        margin-bottom: 20px;
    }
    .wide-camera__descr__item .icon {
        width: 30px;
        margin-right: 10px;
    }
    .wide-camera__img {
        position: relative;
        margin-left: auto;
        margin-top: 30px;
        width: 100%;
        transform: translateX(20px);
    }
    .wide-camera {
        padding: 50px 0 0;
    }
    .main-camera .container {
        max-width: none;
    }
    .rear-camera__img {
        text-align: center;
        img{
            width: 100%;
            max-width: 400px;
        }
    }
    .rear-camera__top {
        text-align: center;
    }
    .ultra-wide {
        margin-left: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .ultra-wide__descr, .macro__descr {
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 7rem;
        text-align: center;
        br {
            display: none;
        }
        p{
            max-width: none;
        }
    }
    .ultra-wide__img {
        width: calc(100% + 40px);
        margin-left: -20px;
        img {
            width: 100%;
        }
    }
    .macro {
        display: flex;
        flex-direction: column;
        &__img {
            img {
                width: 100%;
            }
        }
    }
    .for-mobile {
        display: block;
    }
    .for-tablet {
        display: none;
    }
    .capabilities__img {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .capabilities__icons{
        text-align: center;
        img {
            width: 310px;
        }
    }
    .capabilities__top {
        .h2 {
            margin-top: 30px;
        }
    }
    .slim__phone {
        display: block;
        padding-bottom: 0;
    }
    .slim__phone__img {
        text-align: center;
        line-height: 0;
    }
    .slim__phone__img img {
        position: relative;
        bottom: 0;
        left: 0;
    }
    .slim__phone__descr {
        padding-left: 0;
    }
    .slim__phone__descr__item {
        text-align: center;
        .h2 {
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .slim__phone__descr__item:not(:last-child) {
        margin-bottom: 40px;
    }
    .slim__chip__wrapper {
        background-color: #f2f2f2;
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 50px 20px 0;
        .h2 {
            max-width: 300px;
        }
    }
    .slim__chip {
        img {
            width: 100%;
        }
    }
    .chip-data {
        p {
            font-size: 12px;
        }
        .container {
            gap: 10px
        }
    }
    .steel {
        background-color: #f2f2f2;
        padding: 50px 0;
    }
    .steel__img{
        text-align: right;
        margin-right: -20px;
    }
    .notes {
        p {
            font-size: 12px;
        }
    }
    .wide-camera__top br,
    .capabilities__top .h1 br {
        display: none;
    }
    h1, .h1 {
        font-size: clamp(27px, 7rem, 78px);
    }
    .sensor__content {
        flex-direction: column-reverse;
    }
    .sensor__img,
    .sensor__descr{
        width: 100%;
        text-align: center;
    }
    .sensor__img{
        margin-top: 60px;
    }
    .sensor {
        padding: 80px 0;
    }
    .camera .h1 {
        margin-bottom: 30px;
    }
    .camera__top {
        margin-bottom: 40px;
    }
    .label{
        border-width: 1px;
        padding: 6px 14px 5px;
    }
    .wrapper {
        overflow-y: hidden;
    }
    .colours {
        height: 650px;
        --padding-top: 310px
    }
}